ExPy/ExPy/__pycache__/
ExPy/.vs/
ExPy/ExPy/ExPy.pyproj.user
ExPy/Web/obj/
ExPy/Web/bin/
*.js
*.map
ExPy/Web/node_modules/
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
ExPy/ExPy/module41.out
ExPy/ExPy/.env/